In [5]:
from databases import Database
db = Database('sqlite+aiosqlite:///../backend/individual.db')
await db.connect()

In [7]:
values = [
    {'student_id': 211, 'name':'Cameron Suarez', 'credits_earned': 54},
    {'student_id': 122, 'name':'Uzoma Okoye', 'credits_earned': 12},
    {'student_id': 213, 'name':'Irma Schwartz', 'credits_earned': 17},
    {'student_id': 524, 'name':'Chandra Choudhary', 'credits_earned': 100},
    {'student_id': 425, 'name':'Shea McNamara', 'credits_earned': 49},
    {'student_id': 626, 'name':'Cameron Johnson', 'credits_earned': 62},
    {'student_id': 287, 'name':'Taylor Ellison', 'credits_earned': 87}
]
query = "INSERT INTO Students(student_id, name, credits_earned) VALUES (:student_id, :name, :credits_earned)"
await db.execute_many(query=query, values=values)

In [11]:
values = [
    {'instructor_id': 654, 'name':'Kim Hwang', 'department': "Mathematics"},
    {'instructor_id': 894, 'name':'Aaron Powell', 'department': "Chemistry"},
    {'instructor_id': 843, 'name':'Ryan Sampson', 'department': "Physics"},
    {'instructor_id': 984, 'name':'Dakota Robertson', 'department': "Biology"},
    {'instructor_id': 874, 'name':'Dale Sanders', 'department': "Comuter Science"},
    {'instructor_id': 795, 'name':'Mason Flynn', 'department': "Environmental Science"},
    {'instructor_id': 967, 'name':'Blake Smith', 'department': "Mathematics"}
]
query = "INSERT INTO Instructors(instructor_id, name, department) VALUES (:instructor_id, :name, :department)"
await db.execute_many(query=query, values=values)

In [10]:
values = [
    {'course_id': 8415, 'course_title':'Differential Equations', 'instructor_id': 654},
    {'course_id': 5641, 'course_title':'Organic Chemistry', 'instructor_id': 894},
    {'course_id': 8249, 'course_title':'Software Engineering', 'instructor_id': 874},
    {'course_id': 8929, 'course_title':'Machine Learning', 'instructor_id': 874}
]
query = "INSERT INTO Courses(course_id, course_title, instructor_id) VALUES (:course_id, :course_title, :instructor_id)"
await db.execute_many(query=query, values=values)